<?xml version="1.0"?>
<model>
  <name>3DR Iris with depth camera</name>
  <version>2.0</version>
  <sdf version='1.9'>iris_depth_camera.sdf</sdf>

  <author>
   <name>Anushree Sabnis</name>
   <email>anushree.sabnis@accelerationrobotics.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a single forward facing depth camera.
    The original model had been created by Thomas Gubler and was maintained by Lorenz Meier.
    The model has been ported to work with gazebo Harmonic, this version is created and maintained by Anushree Sabnis.
  </description>
</model>
